.App {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 30px auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
