.Dictionary section {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0/13%);
  padding: 20px;
  margin: 20px 0;
}
.Dictionary .question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Dictionary input {
  width: 100%;
  padding: 8px 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
